<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd">
    <profiles>
        <profile>
            <id>myMavenRepoRead</id>
            <activation>
                <property>
                    <name>!doNotUseMyMavenRepo</name>
                </property>
            </activation>
            <properties>
                <myMavenRepoReadUrl>https://mymavenrepo.com/repo/h4wuxMGHVURMPYgObkkt/</myMavenRepoReadUrl>
            </properties>
        </profile>
        <profile>
            <id>myMavenRepoWrite</id>
            <activation>
                <property>
                    <name>!doNotUseMyMavenRepo</name>
                </property>
            </activation>
            <properties>
                <myMavenRepoWriteUrl>https://mymavenrepo.com/repo/Q9aVduyfOTKAhLdPohd3/</myMavenRepoWriteUrl>
            </properties>
        </profile>
    </profiles>

    <servers>
        <server>
            <id>myMavenRepoRead</id>
            <username>myMavenRepo</username>
            <password>jenkins</password>
        </server>
        <server>
            <id>myMavenRepoWrite</id>
            <username>myMavenRepo</username>
            <password>jenkins</password>
        </server>
    </servers>
</settings>

